body {
    background-color: #1a1a2e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.error-container {
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
    border-radius: 10px;
}

.error-container h2 {
    font-size: 2.6rem;
    color: #bb5425;
}

.error-container h3.error-code {
    position: absolute;
    left:50%;
    top: 35%;
    transform: translate(-50%,0%);
    font-size: 6rem;
    font-weight: bold;
    color: #ffbf0007;
}

.error-container p.error-message {
    font-size: 1.2rem;
    margin: 10px 0;
}

#back-btn {
    margin-top: 12px;
    padding: 10px 25px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

#back-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
